[submodule "themes/hugo-product-launch"]
	path = themes/hugo-product-launch
	url = https://github.com/janraasch/hugo-product-launch.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
